{% extends "registration/password_reset_form.html" %}
{% load i18n static %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<div class="row-fluid">
  <div>
    {% block branding %}<h3 style="margin: 0 0 20px;">Enter new Password</h3>{% endblock %}
  </div>
</div><!-- /row fluid -->

{% if validlink %}

<div class="row-fluid">
  <div>
    <form method="post" role="form">{% csrf_token %}
    <div>
    {% if form.errors %}
        <p class="errornote">
        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
    {% endif %}

    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <div id="div_id_new_password1" class="clearfix control-group {% if form.new_password1.errors %}error{% endif %}">
      <div class="form-group">
        <label for="id_new_password1">{% trans 'New password:' %}</label>
        <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control textinput textInput">
        {% if form.new_password1.errors %}
          <p class="text-error">
            {{ form.new_password1.errors|striptags }}
          </p>
        {% endif %}
      </div>
    </div>

    <div id="div_id_new_password2" class="clearfix control-group {% if form.new_password2.errors %}error{% endif %}">
      <div class="form-group">
        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
        <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control textinput textInput">
        {% if form.new_password2.errors %}
          <p class="text-error">
            {{ form.new_password2.errors|striptags }}
          </p>
        {% endif %}
      </div>
    </div>

    <div class="submit-row">
        <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary form-control">
    </div>

    </div>
    </form>
  </div>
</div><!-- /.row-fluid -->

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
