https://github.com/geodesign/django/archive/geodesign_v9.tar.gz
scikit-learn==0.18.2
scipy==0.19.1
ipython==6.0.0
ipdb==0.10.3
psycopg2==2.7.1
boto==2.46.1
redis==2.10.6
gunicorn==19.7.1
python-memcached==1.58
coreapi==2.3.0
requests==2.14.1
boto3==1.4.4
coreapi==2.3.0
Pillow==4.1.1
numpy==1.13.1
ephem==3.7.6.0
mock==2.0.0
selenium==3.4.3
djangorestframework==3.6.2
djangorestframework-gis==0.11.2
drf-extensions==0.3.1
django-storages==1.5.2
django-compressor==2.1.1
django-extensions==1.7.9
django-cleanup==0.4.2
django-filter==1.0.2
django-crispy-forms==1.6.1
django-storage-swift==1.2.16
django-guardian==1.4.8
django-cors-headers==2.1.0
celery==4.1.0
django-celery-results==1.0.1
django-celery-beat==1.0.1
https://github.com/geodesign/django-raster/archive/raster_file_field_jp2.tar.gz
https://github.com/geodesign/django-raster-aggregation/archive/master.tar.gz
