files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      # Maximum size of file transfer (needed for large file uploads)
      client_max_body_size 500M;
      # Read timeout (large file uploads might take a while
      proxy_read_timeout 1200;
