container_commands:
  00_docker_ps:
    command: docker ps -a
    leader_only: true
  01_printenv:
    command: printenv
    leader_only: true
  02_compress_collect_migrate:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post/ && echo -e '#!/bin/bash\ndocker exec `docker ps -a -q | head -n 1` /code/compress_collect_migrate.sh' > /opt/elasticbeanstalk/hooks/appdeploy/post/99_migrate.sh && chmod +x /opt/elasticbeanstalk/hooks/appdeploy/post/99_migrate.sh"
    leader_only: true
