<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <!-- Title of Website -->
  <title>TESSELO</title>

  <meta name="description"
        content="TESSELO"/>
  <meta name="keywords"
        content="TESSELO"/>
  <meta name="author" content="FLUO">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="{% static "teaser/images/favicon/apple-icon-57x57.png" %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static "teaser/images/favicon/apple-icon-60x60.png" %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static "teaser/images/favicon/apple-icon-72x72.png" %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static "teaser/images/favicon/apple-icon-76x76.png" %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static "teaser/images/favicon/apple-icon-114x114.png" %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static "teaser/images/favicon/apple-icon-120x120.png" %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static "teaser/images/favicon/apple-icon-144x144.png" %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static "teaser/images/favicon/apple-icon-152x152.png" %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "teaser/images/favicon/apple-icon-180x180.png" %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static "teaser/images/favicon/android-icon-192x192.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "teaser/images/favicon/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static "teaser/images/favicon/favicon-96x96.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "teaser/images/favicon/favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "teaser/images/favicon/manifest.json" %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static "teaser/css/plugins/bootstrap.min.css" %}">

  <!-- Font Icons -->
  <link rel="stylesheet"
        href="{% static "teaser/css/icons/font-awesome.css" %}">
  <link rel="stylesheet"
        href="{% static "teaser/css/icons/linea.css" %}">

  <!-- Google Fonts -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700">

  <!-- Plugins CSS -->
  <link rel="stylesheet" href="{% static "teaser/css/plugins/loaders.min.css" %}">
  <link rel="stylesheet" href="{% static "teaser/css/plugins/photoswipe.css" %}">
  <link rel="stylesheet" href="{% static "teaser/css/icons/photoswipe/icons.css" %}">
  <link rel="stylesheet" href="{% static "teaser/css/plugins/owl.carousel.min.css" %}">


  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static "teaser/css/style.css" %}">

  <!-- Responsive CSS -->
  <link rel="stylesheet" href="{% static "teaser/css/responsive.css" %}">

  <script type="text/javascript" src="{% static "teaser/js/plugins/svg-morpheus.js" %}"></script>
  <meta name="google-site-verification" content="sHjaYHHIlWua-mW70RmZeZMkC-euffvL66GcoRgLCV4" />
</head>
<body data-spy="scroll" data-target=".scrollspy" class="bg-dark">

<div id="page">

  <!-- ============================
       BG & Overlays
  ================================= -->

  <!-- Slider BG -->
  <div class="section-overlay media">
    <div id="page-slider" class="owl-carousel">
      <div class="page-slide page-slide-1"></div>
      <div class="page-slide page-slide-1">
          <img class="slider-text desktop-magic" src="{% static "teaser/images/planet_b_is_too_far_away_text.svg" %}">
          <img class="slider-text mobile-magic" src="{% static "teaser/images/planet-b-is-too-far-away-mobile.svg" %}">

        </div>
     <div class="page-slide page-slide-2"></div>
      <div class="page-slide page-slide-3"></div>
      <div class="page-slide page-slide-4"></div>
      <div class="page-slide page-slide-5"></div>
      <div class="page-slide page-slide-6">
          <img class="slider-text desktop-magic" src="{% static "teaser/images/we_take_care_of_planet_a_text.svg" %}">
          <img class="slider-text mobile-magic" src="{% static "teaser/images/we-take-care-of-planet-a-mobile.svg" %}">
      </div>
    </div>
  </div>
  <!-- /End Slider BG -->

  <!-- Overlay BG -->
  <!--<div class="section-overlay bg-black overlay-opacity"></div>-->
  <!-- /End Overlay BG -->

  <!-- Modal -->
  <div id="modal-notify" class="modal fade modal-scale" tabindex="-1" role="dialog"
       aria-labelledby="meinModalLabel">

    <!-- .modal-dialog -->
    <div class="modal-dialog" role="document">
      <div>

        <!-- .modal-content -->
        <div class="modal-content text-center bg-dark text-light">
          <button class="button-close" data-dismiss="modal" aria-label="Close"><i
              class="icon icon-lg icon-arrows-remove"></i></button>


          <!-- Headline -->
          <div class="wrap-line border-dark">
            <h3><span class="font-weight-200">Credits</h3>
          </div>
          <!-- /End Headline -->

          <!-- Description -->
          <div class="p-t-b-15">
            <p><span style="font-weight:400">Branding & Concept</span><br>
              ADDB<br>
              Aleksander Dembinski<br>
              Nuno Patr&iacute;cio<br>
              Caroline V&eacute;zian<br><br>

              <span style="font-weight:400">Website UI/UX Development</span><br>
              FLUO<br><br>
            </p>
          </div>
          <!-- /End Description -->

          <div class="p-t-b-30">

            <!--<form id="mc-form">

              <div class="input-group">
                <input type="email" id="email" class="form-control form-control-light"
                       name="email"
                       placeholder="Enter your Email here...">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-color"><i
                        class="icon icon-sm icon-arrows-slim-right-dashed"></i>
                    </button>
                  </span>
              </div>

              <div id="message-newsletter" class="message-wrapper text-white message">

                <span><i class="icon icon-sm icon-arrows-slim-right-dashed"></i><label
                    class="message-text" for="email"></label></span>
              </div>

            </form>-->
            <!-- /End Newsletter Form -->

          </div>
        </div>

      </div>
      <!-- /End .modal-content -->
    </div>
    <!-- /End .modal-dialog -->
  </div>
  <!-- /End Modal -->

  <!-- ============================
       Header Navigation
  ================================= -->

  <header>
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 text-white col-transform">
            <div class="navbar-wrapper"><div class="navbar-title scrollspy">Planet B is too far away</div>

              <!-- Navbar Button -->
              <button class="navbar-button show-info" data-href="#content">
                <span></span>
                <span></span>
                <span></span>
              </button>
              <!-- /End Navbar Button -->

              <!-- Navbar Links -->
              <div class="navbar-links scrollspy">
                <ul class="nav">
                  <li><a class="smooth-scroll link-white" href="#about">Tesselo</a></li>
                  <!--<li><a class="smooth-scroll link-white" href="#team">Team</a></li>-->
                  <li><a class="smooth-scroll link-white" href="#contact">Contact</a></li>
                </ul>
              </div>
              <!-- /End Navbar Links -->

            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div class="container-fluid">
    <div class="row">


      <!-- ============================
           Info
      ================================= -->

      <div id="info" class="col-md-12 text-white text-center page-info col-transform">
        <div class="vert-middle">
            <img class="pattern" src="{% static "teaser/images/pattern.svg" %}">
          <div class="content-wrapper">

              <div class="reveal scale-out" style="text-align: left;">

                  <!-- Logo -->
                  <div class="p-t-b-15">
                    <img src="{% static "teaser/images/tesselo-logo.svg" class="az-emblem" width="600px" height="400px" alt="Tesselo Logo" %}">
                  </div>
                  <!-- /End Logo -->

                  <div class="p-t-b-15">


                    <p><img class="az-claim desktop-magic" src="{% static "teaser/images/intro-text.svg" width="320px" alt="We are preparing something amazing and exciting for you." %}"><br>
                    <p><img class="az-claim mobile-magic" src="{% static "teaser/images/intro-text-mobile.svg" width="320px" alt="We are preparing something amazing and exciting for you." %}"><br>

                    </p>
                  </div>

                  <span class="percent2bottom">
                  <div class="p-t-b-15 btn-row">
                    <button class="btn btn-border-white show-info" data-toggle="About Us"
                            data-href="#contact"
                            role="button">CONTACT
                   </button>


                  </div>
                  <!-- /End Buttons -->

                  </span>


                </div>
          </div>

        </div>
      </div>


      <!-- ============================
           Content
      ================================= -->

      <div id="content" class="page-content col-md-6 text-center bg-white-09">


        <!-- ----------------------------
             About Section
        --------------------------------- -->

        <section id="about" class="p-t-b-30">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">

              <!-- Headline -->
              <div class="wrap-line-x2 border-dark">
                <h2><span class="font-weight-200">So, what does<br>Tesselo do?</h2>
              </div>
              <!-- /End Headline -->

              <!-- Description -->
              <div class="p-t-b-15  text-grey">
                <p>
                  We solve your business problems and make the planet more sustainable.<br>
                  <br>
                  <span class="font-weight-400">How do you do that?</span><br>
                  We augment satellite imagery using artificial intelligence and environmental expertise.<br>
                  <br>
                  <span class="font-weight-400">Can you monitor my cotton fields for&nbsp;instance?</span><br>
                  Sure.<br>
                  <br>
                  <span class="font-weight-400">I'll need an update every month.<br>And 2 years of historic trends. Possible?</span><br>
                  Yes.<br>
                  <br>
                  <span class="font-weight-400">I'd like to compare with others plantations.<br>Can you do the whole country?</span><br>
                  Yes.<br>
                  <br>
                  <span class="font-weight-400">Can you do all Asia? Earth? Mars?</span><br>
                  Yes. Yes. And Not Yet.<br>
                  <br>
                  <span class="font-weight-400">Can you send me the results in a&nbsp;spreadsheet?</span><br>
                  Yes. We also have an app and an API.<br>
                  <br>
                  <span class="font-weight-400">Can you solve all and every environmental&nbsp;problem?</span><br>
                  No. But if fixing your problem makes the planet greener, we'll try hard to  solve it.<br>
                  <br>
                  <span class="font-weight-400">What about fire and flood risk, can&nbsp;you&nbsp;map&nbsp;that?</span><br>
                  Yes.<br>
                  <br>
                  <span class="font-weight-400">Do you do other stuff than cotton?</span><br>
                  Yes. If it grows and we can see it from space, we do.<br>
                  <br>
                  <span class="font-weight-400">Great, where do we start?</span><br>
                  Please fill the form below
<br><br>
                </p>
              </div>

              <div class="p-t-b-15">
                </div>


        <section id="contact" class="p-t-b-30">-->
          <div id="contact" class="row">
            <div class="col-sm-8 col-sm-offset-2">

              <!-- Headline -->
              <!--<div class="wrap-line-x2 border-dark">
                <h2><span class="font-weight-200">Get In</span> Touch</h2>
              </div>-->
              <!-- /End Headline -->

              <!-- Description -->
              <!--<div class="p-t-b-15  text-grey">
                <p>To Get in Touch with Us<br>
                  Please Fill the Form Below</p>
              </div>-->
              <!-- /End Description -->

              <!-- Contact Form -->
              <form action="teasercontact" id="contact-form" method="post">

                {% csrf_token %}

                <!-- Input Name -->
                <div class="form-group" id="name-field">
                  <label for="form-name" class="sr-only">Name</label>
                  <input type="text" class="form-control form-control-dark"
                         id="form-name" name="form-name" placeholder="Name">
                </div>
                <!-- /End Input Name -->

                <!-- Input Email -->
                <div class="form-group" id="email-field">
                  <label for="form-email" class="sr-only">Email</label>
                  <input type="email" class="form-control form-control-dark"
                         id="form-email" name="form-email" placeholder="Email">
                </div>
                <!-- /End Input Email -->

                <!-- Input Message -->
                <div class="form-group" id="message-field">
                  <label for="form-message" class="sr-only">Message</label>
                  <textarea class="form-control form-control-dark" rows="1"
                            id="form-message" name="form-message"
                            placeholder="Message"></textarea>
                </div>
                <!-- /End Input Message -->

                <!-- Submit Button -->
                <div class="btn-row">
                  <div class="form-group">
                    <button type="submit" class="btn btn-dark" role="button">
                      Send Message
                    </button>
                  </div>
                </div>
                <!-- /End Submit Button -->

              </form>
              <!-- /End Contact Form -->


            </div>
          </div>

          <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-sm-12">
              <div class="row">
                <div class="col-sm-6 col-xs-6 p-t-b-5">

                  <!-- Icon -->
                  <div class="p-t-b-15">
                    <i class="icon icon-lg icon-basic-mail-open-text"></i>
                  </div>
                  <!-- /End Icon -->

                  <!-- Address -->
                  <div class="p-t-b-15">
                    <h4>EMAIL</h4>

                    <p><a href="mailto:h%65%6c&#108;o@te%73%73%65%6co.%63o&#109;?subject=Tesselo%20-%20Contact">&#104;e&#108;l&#111;&#64;&#116;es&#115;e&#108;o.com</a></p>
                  </div>
                  <!-- /End Address -->

                </div>

                <div class="col-sm-6 col-xs-6 p-t-b-5">

                  <!-- Icon -->
                  <div class="p-t-b-15">
                    <i class="icon icon-lg icon-basic-geolocalize-01"></i>
                  </div>
                  <!-- /End Icon -->

                  <!-- Address -->
                  <div class="p-t-b-15">
                    <h4>LOCATION</h4>

                    <p>Lisbon - EU</p>
                  </div>
                  <br>
                  <!-- /End Address -->


                </div>

                <!--<div class="col-sm-4  col-sm-offset-0 col-xs-6 col-xs-offset-3 p-t-b-5">



                  <div class="p-t-b-15">
                    <i class="icon icon-lg icon-basic-elaboration-smartphone-cloud"></i>
                  </div>

                  <div class="p-t-b-15">
                    <h4>Phone</h4>

                    <p><a href="tel:+351 961 222 791">(+351)&nbsp;961&nbsp;222&nbsp;791</a>
                  </div>-->


                </div>
              </div><br><br>

              <!--<p>lorem ipsum</p>
            </div>-->
          </div>
          <p>
            <!--<span class="credit-toggle" data-toggle="modal"
                    data-target="#modal-notify"
                    role="button">+<br><a>Credits</a>
            </span>-->
                          <!--<div class="p-t-b-15  text-grey">
                            <p>
                              <span class="font-weight-400">*</span> Not yet.
            <br><br>
                            </p>
                          </div>-->
            <span class="credits-toggle" data-toggle="modal"
                    data-target="#modal-notify"><br>credits</span>
          </p>

          <!--<div class="row no-gutters p-t-30 map">
            <div id="map" class="col-sm-12"></div>
          </div>-->

          <!-- Contact Alert -->
          <div id="message-contact" class="message-wrapper text-white message">
            <i class="icon icon-sm icon-arrows-slim-right-dashed"></i>
            <span class="message-text"></span>
          </div>
          <!-- /End Contact Alert -->

        </section>

      </div>
    </div>
  </div>

</div>
<!-- /#page -->
<div id="photoswipe"></div>

<!-- Get static url for use in JS scripts. -->
<script>var STATIC_URL={{ STATIC_URL }}</script>

<!-- Scripts -->
<script src="{% static "teaser/js/plugins/jquery1.11.2.min.js" %}"></script>
<script src="{% static "teaser/js/plugins/bootstrap.min.js" %}"></script>
<script src="{% static "teaser/js/plugins/scrollreveal.min.js" %}"></script>
<script src="{% static "teaser/js/plugins/contact-form.js" %}"></script>
<script src="{% static "teaser/js/plugins/newsletter-form.js" %}"></script>
<script src="{% static "teaser/js/plugins/jquery.ajaxchimp.min.js" %}"></script>
<script src="{% static "teaser/js/plugins/photoswipe/photoswipe.min.js" %}"></script>
<script src="{% static "teaser/js/plugins/photoswipe/photoswipe-ui-default.min.js" %}"></script>
<script src="{% static "teaser/js/plugins/jquery.countdown.min.js" %}"></script>
<script src="{% static "teaser/js/plugins/owl.carousel.min.js" %}"></script>
<script src="{% static "teaser/js/plugins/prefixfree.min.js" %}"></script>
<script src="{% static "teaser/js/plugins/morphing.js" %}"></script>

<!-- Custom Script -->
<script src="{% static "teaser/js/custom.js" %}"></script>

</body>
</html>
