<!DOCTYPE html>
{% load compress %}
<html lang="en">

    <head>

        <title>Tesselo</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Geospatial Intelligence for Sustainability. Tesselo brings together satellite imagery and artificial intelligence.">

        <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/tesselo-favicon.png"/>

        {% compress css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}node_modules/leaflet/dist/leaflet.css" type="text/css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}node_modules/nouislider/distribute/nouislider.css" type="text/css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}less/swatchmaker.less" type="text/less"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}less/main.less" type="text/less"/>
        {% endcompress css %}

    </head>
    
    {% if user.is_authenticated %}
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Tesselo</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li><a href="/logout/?next=/"><span class="glyphicon glyphicon-log-out"></span></a></li>
                        {% else %}
                        <li><a href="/login/?next=/"><span class="glyphicon glyphicon-log-in"></span></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="main"></div>
        {% compress js %}
        <script language="javascript">var STATIC_URL = "{{ STATIC_URL }}";</script>
        {% if DEBUG %}
        <script data-main="{{ STATIC_URL }}js/tesselo/main" src="{{ STATIC_URL }}node_modules/requirejs/require.js"></script>
        {% else %}
        <script src="{{ STATIC_URL }}node_modules/requirejs/require.js"></script>
        <script src="{{ STATIC_URL }}js/dist.js"></script>
        {% endif %}
        {% endcompress %}
    </body>
    {% endif %}
</html>
