<div class="container">

    <div class="row">
        <div class="rgb-wrap">
            <div class=text-right><label>Trocar RGB ou Formula</label></div>
            <div class="formula-list"></div>
        </div>
    </div>

    <div class="row">
        <div class=text-right><label>Selecionar Camada</label></div>
        <div class="world-picker pull-right"></div>
    </div>

    <div class="row">
        <div class=text-right><label>Ver Relatorio</label></div>
        <button type="button" class="report-toggle btn btn-default pull-right"><span class="glyphicon glyphicon-dashboard"></span></button>
    </div>

    <div class="row">
        <div class="report-wrap">
            <div class="agglayer-picker"></div>
            <button type="button" class="report btn btn-default pull-right"><span class="glyphicon glyphicon-save"></span></button>
        </div>
    </div>

</div>
